<div class="overlay-container">
    <div class="main-content">
        <div class="heading-container">
            <button mat-raised-button color="primary" (click)="fetchRandomMeme()">Fetch me some meme</button>
        </div>

        <div class="content" *ngIf="displayMemeContainer">
            <div *ngIf="loaded; else loader;">
                <img [src]="currentImage$ | async">
            </div>
            <ng-template #loader>
                <mat-spinner></mat-spinner>
            </ng-template>
        </div>
    </div>
</div>