/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-spinner {
    width: 1.5rem !important;
    margin: auto;
    svg {
        height: 1.5rem !important;
        width: 1.5rem !important;
    }
}